<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
    </Properties>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="[%-5p] %d %c.%M\: %m%n"/>-->
            <PatternLayout pattern="[%-5p] %d %t %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.noveria.*" level="info"/>

        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>

